                    /* --- HEADER ---*/
.logo {
    margin-top: 10px;
}

.buttons{
    text-align: end;
    margin-top: 10px;
}
.buttons input{
    margin-right: 40px;
    padding: 10px 40px 10px 40px;
}

.buttons a {
    padding: 10px 40px 10px 40px;
}

            /* --- FORMS ---*/
#product-form{
   width: 50%;
}
.sub-form {
    display: none;
}

