                    /* --- HEADER --- */
.buttons{
    text-align: end;
    margin-top: 10px;
}

.buttons a{
    margin-right: 40px;
    padding: 10px 40px 10px 40px;
}

.buttons input {
    padding: 10px 40px 10px 40px;
}

.logo {
    margin-top: 10px;
}

                    /* --- MAIN --- */
.main {
    text-align: center;
    padding: 10px;
}

#card {
    margin: 30px;
    padding: 30px;
    background: #fff;
}

.checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
}
